# Dependency directory
node_modules
package-lock.json
bower_components
views/bc/
*.log

# Redis
dump.rdb

# Build
build

# Archive
*.rar

# IDE
.idea

#tar
*.tar

#images
*.jpg
*.jpeg
*.png
*.giff
*.ico

#mac os
.DS_Store